
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form action="/QR/uploadimg" method="post" enctype="multipart/form-data">
            <input type="file" name="file1" value="选择图片" />
            <input type="submit" value="提交" />
            <a href="~/QR/browseimg">查看图片</a>
        </form>
    </div>
</body>
</html>
